.btn {
    position: absolute;
    background-color: transparent;
    background-image: url("poland.png");
    background-size: 100% 100%;
    height: 5vh;
    width: 5vh;
    border: none;

    left: 2.5vh;
    top: 1.25vh;

    transform: translate(-50%, -50%);
}
.drop {
    position: relative;
    display: inline-block;

    height: 6vh;
    width: 6vh;

    left: 3vh;
    top: 4vh;

    transform: translate(-50%, -50%);
}
.drop-content {
    display: none;
    position: absolute;
    height: 5vh;
    width: 5vh;
    z-index: 1;
}

.drop:hover .drop-content {
    display: block;
}

.img-language {
    height: 5vh;
    width: 5vh;
}

.btn-language {
    cursor: pointer;
    position: absolute;
    background-size: 100% 100%;
    height: 5vh;
    width: 5vh;

    transform: translate(-50%, -50%);
}

.btn-language-parent {
    position: absolute;
    background: none;
    height: 6vh;
    width: 5vh;
    border: none;


    transform: translate(0%, -100%);
}

.github {
    position: absolute;
}

.github-logo {
    position: relative;
    display: inline-block;

    height: 5.2vh;
    width: 5.2vh;

    left: 5.4vh;

    background-size: 100% 100%;
    background-image: url(github-mark.png);
}

.box-language-github {
    position: absolute;
    background-color: red;

    display: flex;

    height: 5vh;
    width: 0;

}